body {

  margin: 0;

  padding: 0;

  color: white;

}

.contenedor {

  display: flex;

  height: 100vh;

  flex-direction: row;

}

.contenedor > .cajauser {

  background: rgb(78,78,78);

  width: 100%;

  text-align: center;

}

.contenedor > .cajaress {

  background: rgb(126,126,126);

  width: 100%;

}

.contenedor > .cajaress > p {

  margin: 160px 13%;

  font-size: 20px;

}

.contenedor > .cajauser, .contenedor > .cajaress {

 height: 100%;

}

input {

  height: 25px;

  font-size: 16px;

}

label, input, button {

  display: block;

  text-align: center;

}

label {

  margin: 20px 0;

}

input {

  margin: auto;

}

button {

  background-color: #5bdf3e; /* Green */

  border: 2px solid #555555;

  color: white;

  padding: 15px 32px;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 16px;

  margin: 15px 2px;

  cursor: pointer;

}

.areau {

  margin: 150px;

}

.dihose {

  margin: 140px 30px;

  text-align: center;

}

@media screen and (max-width: 767px) {

  .contenedor {

    flex-direction: column;

    height: 100%;

    width: 100%;

  }

  .contenedor > .cajauser, .contenedor > .cajaress {

  height: 50vh;

  }

}
